.footer-text {
  text-align: center;
  color: #868e96 !important;
}

.dark-mode {
  color: white !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.footer-btn {
  padding: 5px 10px;
  background: #55198b;
  color: #f5f2f4;
  border-radius: 4px;
  font-size: 0.75rem;
  margin: 1rem 0.5rem 0.5rem 0;
  transition: 0.2s ease-in;
}